.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.title img {
  height: 23px;
  width: 30px;
}

.title {
  display: flex;
  flex-direction: row;
  text-align: left;
  letter-spacing: -1.0px;
  font-weight: 600;
  align-items: center;
}

.search-bar {
  margin: 20px;
  width: 75%;
  text-align: center;
  margin: auto auto;
}

.logo {
  width: 150px;
  height: auto;
}

.search-bar input {
  outline-color: red;
  /* border-radius: 4px; */
  width: 75%;
}

/* .search-bar input:focus {
  outline: none;
  border-radius: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, .2);
} */

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.details div {
  margin: 10px;
}

.description {
  padding-left: 20px;
  width: 75%;
  text-align: left;
}

.owner {
  font-weight: 700;
  letter-spacing: -.5px;
}

.time {
  font-size: 12px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}